@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 113 8% 95%;
    --foreground: 113 5% 0%;
    --card: 113 8% 90%;
    --card-foreground: 113 5% 10%;
    --popover: 113 8% 95%;
    --popover-foreground: 113 95% 0%;
    --primary: 113 94% 16%;
    --primary-foreground: 0 0% 100%;
    --secondary: 113 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 75 10% 85%;
    --muted-foreground: 113 5% 35%;
    --accent: 75 10% 80%;
    --accent-foreground: 113 5% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 113 5% 90%;
    --border: 113 20% 50%;
    --input: 113 20% 18%;
    --ring: 113 94% 16%;
    --radius: 0.5rem;
    --text: rgb(0, 0, 0);
  }
  .dark {
    --background: 113 10% 5%;
    --foreground: 113 5% 90%;
    --card: 113 8% 0%;
    --card-foreground: 113 5% 90%;
    --popover: 113 10% 5%;
    --popover-foreground: 113 5% 90%;
    --primary: 113 94% 16%;
    --primary-foreground: 0 0% 100%;
    --secondary: 113 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 75 10% 15%;
    --muted-foreground: 113 5% 60%;
    --accent: 75 10% 15%;
    --accent-foreground: 113 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 113 5% 90%;
    --border: 113 20% 18%;
    --input: 113 20% 18%;
    --ring: 113 94% 16%;
    --radius: 0.5rem;
    --text: rgb(255, 255, 255);
  }
}
